{% extends "layout.html" %}
{% block fighter %}

<div class="col-sm-6 col-md-6 col-lg-6 text-center">
    <h2 id="name1">NAME: </h2>
    <h3 id="winRate1">Win Rate: </h3>
    <h3 id="streak1">Win/Lose Streak: </h3>
    <h3 id="betRatio1">Average Bet Ratio: </h3>
    
    <h3> Fight History </h3>
    <table class="table-responsive" id="fighter1"></table>
   

</div>
<div class="col-sm-6 col-md-6 col-lg-6 text-center">
    <h2 id="name2">NAME: </h2>
    <h3 id="winRate2">Win Rate: </h3>
    <h3 id="streak2">Win/Lose Streak: </h3>
    <h3 id="betRatio2">Average Bet Ratio: </h3>
    <h3> Fight History </h3>
    <table class="table-responsive" id="fighter2"></table>
    

</div>

<script>
    //To test set the url to testFight, fightData for normal usage
    $.get("fightData", { fighter: 1 }, function (fighter1Data) {
        document.getElementById("name1").innerHTML += fighter1Data['name'];
        document.getElementById("streak1").innerHTML += fighter1Data['streak'];
        try {
            document.getElementById("winRate1").innerHTML += fighter1Data['averageWinRatio'].toFixed(3);
            document.getElementById("betRatio1").innerHTML += fighter1Data['averageBetRatio'].toFixed(3);
        }
        catch (TypeError) {
            document.getElementById("winRate1").innerHTML += fighter1Data['averageWinRatio'];
            document.getElementById("betRatio1").innerHTML += fighter1Data['averageBetRatio'];
        }
        var fightHistDict = fighter1Data['fightHistory']
        var fightHistory = []
        for (i = 0; i < fightHistDict.length; i++) {
            fightHistory.push({
                name: fightHistDict[i]['opponentName'],
                betFor: fightHistDict[i]['betFor'],
                betAgainst: fightHistDict[i]['betAgainst'],
                winLose: fightHistDict[i]['winLose']
            })
        }
        console.log((fightHistory[0]))

        $('#fighter1').bootstrapTable({
            columns: [{
                field: 'name',
                title: 'Opponent Name'
            },
            {
                field: 'winLose',
                title: 'Win/Lose'
            },
            {
                field: 'betFor',
                title: 'Bet For'
            }, {
                field: 'betAgainst',
                title: 'Bet Against'
            }],
            data: fightHistory
        })
    });
    
    $.get("fightData", { fighter: 2 }, function (fighter2Data) {
        document.getElementById("name2").innerHTML += fighter2Data['name'];
        document.getElementById("streak2").innerHTML += fighter2Data['streak'];
        try{
            document.getElementById("winRate2").innerHTML += fighter2Data['averageWinRatio'].toFixed(3);
            document.getElementById("betRatio2").innerHTML += fighter2Data['averageBetRatio'].toFixed(3);
        }
        catch (TypeError) {
            document.getElementById("winRate2").innerHTML += fighter2Data['averageWinRatio'];
            document.getElementById("betRatio2").innerHTML += fighter2Data['averageBetRatio'];
        }

        var fightHistDict = fighter2Data['fightHistory'];
        $.fightNumber = fighter2Data['fightNumber'];
        console.log(fighter2Data['fightNumber']);
        var fightHistory = [];
        for (i = 0; i < fightHistDict.length; i++) {
            fightHistory.push({
                name: fightHistDict[i]['opponentName'],
                betFor: fightHistDict[i]['betFor'],
                betAgainst: fightHistDict[i]['betAgainst'],
                winLose: fightHistDict[i]['winLose']
            });
        }
        $('#fighter2').bootstrapTable({
            columns: [{
                field: 'name',
                title: 'Opponent Name'
            },
            {
                field: 'winLose',
                title: 'Win/Lose'
            },
            {
                field: 'betFor',
                title: 'Bet For'
            }, {
                field: 'betAgainst',
                title: 'Bet Against'
            }],
            data: fightHistory
        })
    });
    //query the server to check if the fight displayed is the current fight
    //if not, reload the page. Probably could just make use of the above code
    //instead of having it refresh.
    function CheckNewFight() {
        console.log($.fightNumber)
        $.get("newFight", {fightId: $.fightNumber}, function(isNewFight){
            if(isNewFight['new']== true){
                window.location.reload();
                
            }
        })
    }
    var checkInterval = setInterval(function () { CheckNewFight($.fightNumber); },10000);
</script>

{%endblock%}

